{{! Written out here: partials are looked up in this folder only, and a missing one makes Textual use its default template }}
{{#showDateIndicator}}
	<div class="date_indicator">
		<hr />
		<span>{{dateIndicatorMessage}}</span>
		<hr />
	</div>
{{/showDateIndicator}}

<div
	data-command="{{command}}"
	data-line-type="{{lineType}}"

{{^isRemoteMessage}}
	data-member-type="{{nicknameType}}"
{{/isRemoteMessage}}

	data-timestamp="{{timestamp}}"
	class="line {{lineClassAttribute}}"
	id="line-{{lineNumber}}">

	<span class="sender"></span>

	<span class="message">{{{formattedMessage}}}</span>

	<span class="time"

	{{^ isEmpty(localizedTimestamp) }}
	title="{{localizedTimestamp}}"
	{{/ isEmpty(localizedTimestamp) }}>{{formattedTimestamp}} </span>
</div>

{{#showSessionIndicator}}
	<div class="session_indicator message_buffer_session_indicator">
		<hr />
		<span>{{sessionIndicatorMessage}}</span>
		<hr />
	</div>
{{/showSessionIndicator}}
