root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{h,m,c,swift,js,css,html,mustache,plist,strings,entitlements}]
indent_style = tab
tab_width = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2
