// The app target (and its unit tests). Set on the targets, so it overrides
// the configuration files set on the project.


TEXTUAL_WORKSPACE_DIR = ${PROJECT_DIR}/..

HEADER_SEARCH_PATHS = "${TEXTUAL_WORKSPACE_TEMP_DIR}/Build Headers/"
FRAMEWORK_SEARCH_PATHS = "${TEXTUAL_WORKSPACE_TEMP_DIR}/SharedBuildProducts-Frameworks" "${TEXTUAL_WORKSPACE_DIR}/Frameworks/Vendor/Sparkle"

PRODUCT_BUNDLE_IDENTIFIER = ${TEXTUAL_BUNDLE_IDENTIFIER}

PRODUCT_NAME = ${TEXTUAL_PRODUCT_NAME}

WRAPPER_EXTENSION = app

PRODUCT_MODULE_NAME = Textual

CONFIGURATION_BUILD_DIR = $(TEXTUAL_WORKSPACE_DIR)/Build Results/$(CONFIGURATION)

GCC_PREFIX_HEADER = ${PROJECT_DIR}/Supporting Files/TextualPrivate.h

SWIFT_OBJC_BRIDGING_HEADER = ${PROJECT_DIR}/Supporting Files/SwiftBridgingHeaderPrivate.h


REMOVE_HEADERS_FROM_EMBEDDED_BUNDLES = NO

INFOPLIST_FILE = ${TEXTUAL_WORKSPACE_TEMP_DIR}/Info.plist

// It is important to preserve symbols and code that is
// not directly used so that extensions can use them.

DEAD_CODE_STRIPPING = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
STRIP_STYLE = non-global

CODE_SIGN_ENTITLEMENTS = ${PROJECT_DIR}/Supporting Files/Standard Release.entitlements
CODE_SIGN_ENTITLEMENTS[config=App Store] = ${PROJECT_DIR}/Supporting Files/App Store.entitlements

// The App Store build neither links nor embeds Sparkle.
EXCLUDED_SOURCE_FILE_NAMES[config=App Store] = Sparkle.framework
