<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2600net</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.2600.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>AfterNET</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.afternet.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>AlphaChat</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.alphachat.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Azzurra</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.azzurra.chat</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>DALnet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.dal.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>DarkMyst</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.darkmyst.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>EFnet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.efnet.info</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>EpiKnet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.epiknet.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Ergo</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.ergo.chat</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>EsperNet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.esper.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Fuel Rats</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.fuelrats.com</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>GIMPnet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.gimp.org</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>GameSurge</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.gamesurge.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>GeekNode</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.geeknode.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>GeekShed</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.geekshed.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>German-Elite</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.german-elite.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>IRCHighWay</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.irchighway.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>IRCnet</key>
	<dict>
		<key>serverAddress</key>
		<string>open.ircnet.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>Interlinked</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.interlinked.me</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Libera Chat</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.libera.chat</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>LizardIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.lizardirc.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>MindForge</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.mindforge.org</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>OFTC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.oftc.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>PIRC.pl</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.pirc.pl</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>QuakeNet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.quakenet.org</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>Rizon</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.rizon.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>SlashNET</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.slashnet.org</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>Snoonet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.snoonet.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>SorceryNet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.sorcery.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>SwiftIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.swiftirc.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>TWiT</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.twit.tv</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Undernet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.undernet.org</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>euIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.euirc.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>freenode</key>
	<dict>
		<key>serverAddress</key>
		<string>chat.freenode.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>hackint</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.hackint.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>synIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.synirc.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>tilde.chat</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.tilde.chat</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
</dict>
</plist>
